:root {
  --white: #FFFFFF;
  --yellow: #ffcd02;
  --yellow-hover: #d5ac05;
  --green: #198754;
  --blue: #0dcaf0;
  --red: #dc3545;
  --orange: #fd7e14;

  --color-primary: #1b252f;
  --color-secondary: #404c58;
}