.container-fluid {
  background: var(--white);

  a {
    text-decoration: none;

    h1 {
      font-family: Pokemon Solid, sans-serif;
      padding: 1rem 0 2rem 0;
      color: var(--yellow);
      -webkit-text-stroke: 2px #386FA7;
      font-size: 3rem;
    }
  }
}